/* Empty. Add your own CSS if you like */
.weui_dialog {
  z-index: 13;
  width: 85% !important;
  -webkit-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%);
  background-color: #FAFAFC !important;
  text-align: center;
  border-radius: 3px !important;
}
.weui_dialog_hd {
  padding: 1.2em 0 .5em;
}
.weui_dialog_title {
  font-weight: 400;
  font-size: 17px;
}
.weui_dialog_ft {
  position: relative !important;
  line-height: 42px !important;
  min-height: 42px !important;
  margin-top: 20px !important;
  font-size: 17px !important;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  padding: 0;
}
.weui_dialog_ft:after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  border-top: 1px solid #D5D5D6;
  color: #D5D5D6;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.popup {
  z-index: 13;
  width: 85% !important;
  -webkit-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%);
  background-color: #FAFAFC !important;
  text-align: center;
  border-radius: 3px !important;
}
.popup-head {
  border-bottom: none !important;
  padding: 1.2em 0 .5em;
}
.popup-title {
  font-weight: 400;
  font-size: 17px;
}
.popup-buttons {
  position: relative !important;
  line-height: 42px !important;
  min-height: 42px !important;
  margin-top: 20px !important;
  font-size: 17px !important;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  padding: 0;
}
.popup-buttons:after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  border-top: 1px solid #D5D5D6;
  color: #D5D5D6;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.loading {
  background-color: transparent !important;
}
p {
  margin-bottom: 0;
}
.weui_tab {
  height: 50px !important;
}
.full_width {
  width: 100%;
}
.full_height {
  height: 100%;
}
.full {
  width: 100%;
  height: 100%;
}
.relative {
  position: relative;
}
.weui_tab.hack {
  top: 44px;
  position: absolute;
  width: 100%;
  left: 0;
}
.weui_cells.weui_hack {
  margin-top: 0;
}
.address {
  font-size: 0.8em;
  text-align: justify;
}
.remarks {
  padding: 2px 16px;
  font-size: 8px;
  margin-bottom: 16px;
}
.order {
  background: #f5f5f5;
}
.order .form {
  text-align: right;
  margin-right: 8px;
}
.order .small {
  padding: 4px 16px;
}
.order .date {
  padding: 0px 0px 0px 16px;
}
.order .log {
  position: relative;
  border: none;
  padding: 0;
  height: 64px;
}
.order .log .line {
  position: absolute;
  display: inline-block;
  width: 1px;
  left: 32px;
  top: 0;
  bottom: 0;
  background: lightgrey;
}
.order .log .line.first {
  top: 16px;
}
.order .log .circle {
  position: absolute;
  z-index: 9;
  display: inline-block;
  top: 16px;
  height: 8px;
  width: 8px;
  border-radius: 4px;
  background: lightgrey;
  left: 28px;
}
.order .log .circle.first {
  height: 12px;
  width: 12px;
  border-radius: 6px;
  background: red;
  left: 26px;
}
.order .log .abstract {
  position: absolute;
  left: 56px;
  top: 10px;
}
.order .log .time {
  position: absolute;
  left: 56px;
  top: 40px;
  font-size: 0.8em;
}
.home {
  background: #f5f5f5;
}
.home .header {
  margin-bottom: -6px;
}
.home .avatar {
  top: 50%;
  left: 50%;
  width: 96px;
  height: 96px;
  margin-left: -48px;
  margin-top: -48px;
  position: absolute;
  border-radius: 50%;
}
.home .mobile {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #ffffff;
  margin-top: 56px;
  text-shadow: #3f0b17 4px 0 10px;
  font-size: 18px;
  font-weight: 500;
}
.home .qrcode {
  position: absolute;
  width: 56px;
  height: 56px;
  padding: 12px;
  top: 50%;
  left: 50%;
  margin-left: 8px;
  margin-top: 8px;
}
.home .row {
  padding: 0;
  margin-top: 16px;
}
.home .item {
  flex: 0 0 33.8%;
  max-width: 33.8%;
}
.home .item h6,
.home .item span {
  width: 100%;
  text-align: center;
  display: block;
}
.home .item .label {
  font-size: 14px;
  color: #646464;
}
.home .item span {
  font-size: 18px;
  color: #58574b;
  font-weight: 600;
}
.home .subscribe {
  background: rgba(9, 187, 7, 0.2);
}
.home .unsubscribe {
  background: rgba(0, 0, 0, 0.1);
}
.home .buyer {
  background: rgba(216, 44, 59, 0.2);
}
.home .order-total {
  padding: 16px;
  background: #FDD19B;
  margin-top: 16px;
}
.home .order-total .label {
  font-size: 16px;
  color: #444;
}
.home .order-total .price {
  width: 100%;
  text-align: left;
  display: block;
  font-size: 24px;
  color: red;
  margin-top: 8px;
}
.home *:link {
  color: #ffffff;
}
.cus-wechat .headimg {
  width: 64px;
  height: 64px;
}
.cus-wechat .nickname {
  position: absolute;
  top: 16px;
  left: 96px;
  color: #586C94;
  font-size: 14px;
}
.cus-wechat .icon-wechat {
  width: 16px;
  height: 16px;
  margin-left: 10px;
}
.cus-wechat .wechat-sub,
.cus-wechat .signin,
.cus-wechat .buyer-name {
  height: 16px;
  font-size: 12px;
  display: inline-block;
  color: #414141;
  text-align: center;
  line-height: 16px;
  margin-bottom: 0;
}
.cus-buyer .headimg {
  width: 64px;
  height: 64px;
}
.cus-buyer .name {
  position: absolute;
  top: 16px;
  left: 96px;
  color: #586C94;
  font-size: 18px;
}
.cus-buyer .mobile {
  position: absolute;
  top: 20px;
  left: 164px;
  color: gray;
  font-size: 14px;
}
.cus-buyer .total {
  position: absolute;
  bottom: 20px;
  left: 97px;
  font-size: 24px;
  color: red;
}
.cus-buyer .total.zero {
  color: gray;
}
*,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.no-padding {
  padding: 0;
}
.no_margin {
  margin: 0;
}
.relative {
  position: relative;
}
.abs {
  position: absolute;
}
.bg-grey {
  background: #f5f5f5;
}
.button-pay {
  margin: 0 1%;
  width: 98%;
}
.bg-white {
  background: white;
}
.margin-8 {
  margin: 8px;
}
.margin-16 {
  margin: 16px;
}
.mt-8 {
  margin-top: 8px;
}
.mt-16 {
  margin-top: 16px;
}
.ml-16 {
  margin-left: 16px;
}
.padding-8 {
  padding: 8px;
}
.padding-16 {
  padding: 16px;
}
.priceColor {
  color: red !important;
}
.navbar {
  background: #d82c3b !important;
}
.navbar .title {
  background: #d82c3b;
  color: white !important;
  margin: 0;
}
.navbar .button {
  color: white !important;
}
.cart-photo {
  position: absolute;
  width: 64px;
  height: 64px;
  background: #dedede;
  padding: 1px;
}
.item-cart {
  position: relative;
  height: 64px;
}
.item-cart-name {
  position: absolute;
  left: 72px;
  right: 8px;
  top: 0;
}
.item-cart-quantity {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
}
.font-red {
  color: red;
}
.product .detail {
  padding: 16px 0;
}
.product .detail img {
  width: 100%;
  height: auto;
  margin-bottom: -6px;
}
.product .content {
  margin: 4px 16px;
  text-indent: 2em;
  text-align: justify;
}
.sharepay .desc {
  padding: 16px;
  margin: 0;
}
.sharepay .pay-info {
  position: relative;
  height: 96px;
  border-bottom: grey solid 1px;
  border-top: grey solid 1px;
  margin-bottom: 16px;
  background: lightyellow;
}
.sharepay .pay-info .title {
  position: absolute;
  left: 16px;
  top: 4px;
  font-size: 14px;
}
.sharepay .pay-info .price {
  color: red !important;
  font-size: 32px;
  width: 100%;
  height: 100%;
  line-height: 88px;
  text-align: center;
  margin: auto;
}
.sharepay .pay-info .consignee {
  position: absolute;
  right: 16px;
  bottom: 0;
}
.sharepay .pay-tip {
  padding-left: 1em;
  text-indent: -1em;
}
.float-r {
  float: right;
}
.weui_media_desc {
  -webkit-line-clamp: 20 !important;
}
.empty {
  height: 540px;
  line-height: 540px;
  color: gray;
  font-size: 20px;
  text-align: center;
}
.buyer-order .order-date {
  font-size: 12px;
  color: gray;
  margin-top: -4px;
}
.buyer-order .head {
  padding: 0 16px;
  border-bottom: linen 1px solid;
}
.buyer-order .head .consignee {
  font-size: 12px;
}
.buyer-order .head .mobile {
  font-size: 12px;
  color: gray;
}
.buyer-order .head .state {
  position: absolute;
  right: 16px;
  top: 50%;
  font-size: 14px;
  margin-top: -12px;
}
.buyer-order .head .state-accent {
  color: #4b8bf4;
}
.buyer-order .head .state-normal {
  color: gray;
}
.buyer-order .head .state-waite {
  color: red;
}
.buyer-order .cart {
  position: relative;
  word-wrap: break-word;
  word-break: break-all;
}
.buyer-order .cart .photo {
  width: 56px;
  height: 56px;
  margin: 16px;
}
.buyer-order .cart .name {
  position: absolute;
  top: 16px;
  left: 88px;
  right: 16px;
  font-size: 12px;
  word-wrap: break-word;
  word-break: break-all;
  overflow-wrap: break-word;
  display: block;
  height: 3em;
}
.buyer-order .cart .quality {
  position: absolute;
  right: 16px;
  bottom: 16px;
  font-size: 12px;
  color: gray;
}
.buyer-order .cart .price {
  position: absolute;
  left: 88px;
  bottom: 16px;
  color: gray;
  font-size: 12px;
}
.buyer-order .foot {
  height: 24px;
  border-top: 1px solid linen;
}
.buyer-order .foot .income {
  color: red;
  font-size: 12px;
  margin: 4px 16px;
  float: left;
}
.buyer-order .foot .price {
  color: gray;
  font-size: 12px;
  margin: 4px 16px;
  float: right;
}
