.weui_tab.hack {
  top: 44px;
  position: absolute;
  width: 100%;
  left: 0;
}
.weui_cells.weui_hack {
  margin-top: 0;
}
.address {
  font-size: 0.8em;
  text-align: justify;
}
.remarks {
  padding: 2px 16px;
  font-size: 8px;
  margin-bottom: 16px;
}
.order {
  background: #f5f5f5;
}
.order .form {
  text-align: right;
  margin-right: 8px;
}
.order .small {
  padding: 4px 16px;
}
.order .date {
  padding: 0px 0px 0px 16px;
}
.order .log {
  position: relative;
  border: none;
  padding: 0;
  height: 64px;
}
.order .log .line {
  position: absolute;
  display: inline-block;
  width: 1px;
  left: 32px;
  top: 0;
  bottom: 0;
  background: lightgrey;
}
.order .log .line.first {
  top: 16px;
}
.order .log .circle {
  position: absolute;
  z-index: 9;
  display: inline-block;
  top: 16px;
  height: 8px;
  width: 8px;
  border-radius: 4px;
  background: lightgrey;
  left: 28px;
}
.order .log .circle.first {
  height: 12px;
  width: 12px;
  border-radius: 6px;
  background: red;
  left: 26px;
}
.order .log .abstract {
  position: absolute;
  left: 56px;
  top: 10px;
}
.order .log .time {
  position: absolute;
  left: 56px;
  top: 40px;
  font-size: 0.8em;
}
