<ion-view title="入驻客户" class="cus-buyer">
  <ion-content>
    <ion-list>
      <ion-refresher on-refresh="refresh()"></ion-refresher>
      <p ng-if="model.initialized && model.cusBuyer.length == 0" class="empty">
        您还没有入驻客户
      </p>
      <ion-item class="relative" ng-repeat="item in model.cusBuyer" ng-click="onClickBuyer(item)">
        <img class="headimg" ng-src="{{p(item.photo)}}"/>
        <h6 class="name" ng-bind="item.name"></h6>
        <h6 class="mobile" ng-bind="item.mobile"></h6>
        <h6 class="total" ng-bind="item.total||0|currency:'￥':0"
            ng-class="{'zero':!item.total || item.total == 0}"
        ></h6>
      </ion-item>

      <ion-infinite-scroll
          ng-if="model.cusBuyer.length < model.total"
          on-infinite="getCusBuyer()"
      ></ion-infinite-scroll>
    </ion-list>
  </ion-content>
</ion-view>
