my-app .header {
  background: url("../images/head.jpg");
  background-size: 100% auto;
  background-position: center;
  height: 640px;
  position: relative;
}
my-app #welcome {
  color: rgba(255, 255, 255, 0.87);
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 2em;
  top: 40%;
}
my-app #name {
  color: white;
  font-size: 4em;
  position: absolute;
  text-align: center;
  display: block;
  width: 100%;
  top: 48%;
  font-weight: 600;
}
