<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>items</key>
  <array>
   <dict>
    <key>assets</key>
    <array>
     <dict>
      <key>kind</key>
      <string>software-package</string>
      <key>url</key>
      <string>https://dev-073.baidupan.com/a76e68d8f7c7066019d7c435e08273e1/5d104729/2019/06/23/81c6b1ccf67022a4349c30e64a80190a.ipa</string>
     </dict>
    </array>
    <key>metadata</key>
    <dict>
     <key>bundle-identifier</key>
     <string>com.aldb.ios.magic.199463</string>
     <key>bundle-version</key>
     <string>1</string>
     <key>kind</key>
     <string>software</string>
     <key>title</key>
     <string>bk(7.0.2）分1</string>
    </dict>
   </dict>
  </array>
 </dict>
</plist>

