<ion-view title="{{model.buyer.name}}的订单" class="buyer-order">
  <ion-content style="background: #f5f5f5">
    <ion-refresher on-refresh="refresh()"></ion-refresher>
    <p ng-if="model.initialized && model.orders.length == 0" class="empty">
      该客户没有订单
    </p>
    <ion-list>
      <ion-item ng-repeat="item in model.orders" style="padding: 0;margin-bottom: 16px">

        <div class="relative head">
          <span class="consignee" ng-bind="item.consignee"></span>
          <span class="mobile" ng-bind="encriptPhone(item.mobile)"></span>

          <p class="order-date" ng-bind="item.updated_at"></p>

          <span class="state"
                ng-bind="model.statusLabels[getResolvedState(item)]"
                ng-class="model.statusBg[getResolvedState(item)]"
          ></span>
        </div>

        <div class="body">
          <div ng-repeat="cart in item.carts" class="cart">
            <img class="photo" ng-src="{{pHalf(cart.photo)}}"/>

            <p class="name">{{cart.name}}</p>
            <span class="quality">X {{cart.quality}}</span>
            <span class="price" ng-bind="cart.price|currency:'售价：'"></span>
          </div>
        </div>

        <div class="relative foot">
          <h5 class="price" ng-bind="item.billingPrice|currency:'￥'"></h5>
          <h5 class="income" ng-bind="item.billingPrice * 0.005|currency:'收益: ￥'"></h5>
        </div>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll
        on-infinite="getOrder()"
        ng-if="model.lastResult!=0 && model.lastResult < model.pageSize"
    ></ion-infinite-scroll>

  </ion-content>
</ion-view>