<ion-view title="首页" class="home">
  <ion-content>
    <ion-refresher on-refresh="refresh()"></ion-refresher>

    <div class="header" style="position: relative">
      <img ng-src="./img/bg_account.png" style="width: 100%;height: auto">
      <img class="avatar" ng-src="{{model.user.headimgurl}}"/>
      <img class="qrcode" ng-src="https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket={{model.user.channel.ticket}}"
           ng-click="showQrCode()"/>
      <p class="mobile" ng-bind="model.user.name"></p>
    </div>
    <div class="row">
      <div class="col-33 item buyer" ng-click="goCusBuyer()">
        <h6 class="label">入驻用户</h6>
        <span ng-bind="model.homeData.totalCustomers || 0"></span>
      </div>
      <div class="col-33 item subscribe" ng-click="goCusWechat()">
        <h6 class="label">关注用户</h6>
        <span ng-bind="model.homeData.subscribes || 0"></span>
      </div>
      <div class="col-33 item unsubscribe" ng-click="goCusWechat()">
        <h6 class="label">未关注用户</h6>
        <span ng-bind="model.homeData.unSubscribes || 0"></span>
      </div>
    </div>

    <div class="order-total">
      <h6 class="label">客户订单总额</h6>
      <span class="price" ng-bind="model.homeData.orderTotalPrice||0|currency:''"></span>
    </div>

    <div class="order-total">
      <h6 class="label">预计收益</h6>
      <span class="price" ng-bind="(model.homeData.orderTotalPrice * 0.005)||0|currency:''"></span>
    </div>
  </ion-content>
</ion-view>
