<ion-tabs class="tabs-icon-top">

  <ion-tab title="首页" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <ion-tab title="入驻客户" icon-on="ion-ios-personadd" icon-off="ion-ios-personadd-outline" href="#/tab/cus-buyer">
    <ion-nav-view name="tab-cus-buyer"></ion-nav-view>
  </ion-tab>

  <ion-tab title="微信客户" icon-on="ion-ios-people" icon-off="ion-ios-people-outline" href="#/tab/cus-wechat">
    <ion-nav-view name="tab-cus-wechat"></ion-nav-view>
  </ion-tab>


</ion-tabs>